div {
    position: relative;
    width: 250px;
    border: 1px solid rgb(0, 0, 0);
}

#container {
    display: flex;
    left: 25%;
    width: 50%;
    border: 0px;
}

#score-box {
    height: 20px;
    border: 0px;
    width:100%;
    word-wrap: break-word;
}
#scores-box {
    font-weight: bold;
    align-self: start;
    width:30%;
}
#high-score {
    height: 20px;
    width:100%;
}
#game {
    border: 0px;
    width:30%;
    padding-left: 10px;
    padding-right: 10px;
}
#another-box{
    font-family:arial;
    width:30%;
}
#hint-box {
    border:0px;
}
body {
    color: lemonChiffon;
    background-color: rgb(47, 11, 130); 
    text-align: center;
}

.title {
    font-size: 100px;
    font-variant: small-caps;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#child{
    border: 0px;
}
#input{
    width: 100%;
}