div {
    position: relative;
    width: 250px;
    border: 1px solid rgb(0, 0, 0);
}

#score-box {
    position: absolute;
    top: 290px;
    left: 1200px;
    height: 20px;
    display:hidden;
}
#high-score-box {
    font-weight: bold;
    position: absolute;
    left: 1200px;
    height: 20px;
    display:hidden;
}
#high-score {
    top: 2px;
    left: -1px;
    height: 20px;
}
#another-box{
    font-family:arial;
    left: 450px;
    top: -35px;
    font-size: 20px;
    font-weight: bold;
    /*background-color: ;*/
}
#hint-box{
    border:0px;
    top: -35px;
    left: 450px;
}
body {
    /*color: lemonChiffon;
    background-color: rgb(47, 11, 100);*/ 
    text-align: center;
}
h1 {
    font-size: 100px;
    font-variant: small-caps;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#child{
    border: 0px solid black;
