div {
    position: relative;
    width: 250px;
    border: 1px solid rgb(0, 0, 0);
    word-wrap: break-word;
    width: 100%;
}

#container {
    display: flex;
    left: 25%;
    width: 50%;
    border: 0px;
}

#score-box {
    height: 20px;
    border: 0px;
    width:100%;
}
#scores-box {
    font-weight: bold;
    align-self: start;
    width:30%;
}
#high-score {
    height: 20px;
    width:100%;
}
#game {
    border: 0px;
    width:30%;
    padding-left: 10px;
    padding-right: 10px;
}
#another-box{
    width:30%;
    font-weight: bold;
}
#hint-box {
    border:0px;
}
body {
    color: black;
    background-color: #c8c8c8; 
    text-align: center;
    font-family:arial;
}

.title {
    font-size: 100px;
    font-variant: small-caps;
    font-style: oblique;
    font-family: Georgia;
}

#child {
    border: 0px;
}

#input {
    width: 100%;
}

#color-picker {
    left: 89%;
    width:10%;
}
#description{
    border:0px;
    font-size:20px;
}
